
html, body, h1,h2,h3,h4,h5,h6,p,ul,dl,li,dd,dt {
    margin: 0;
}
html, body, h1,h2,h3,h4,h5,h6,p,ul,dl,li,dd,dt, div,span,i,s,u {
    box-sizing: border-box;
}


@media screen and (min-width: 1200px) {
    html, body {
        min-width: 1300px;
    }
}


.flex {
    display: flex;
}

.flex-between {
    @extend .flex;
    justify-content: space-between;
}

.flex-center-center {
    @extend .flex;
    align-items: center;
    justify-content: center;
}

.flex-between-center {
    @extend .flex-between;
    align-items: center;
}

.flex-justify-center {
    @extend .flex;
    justify-content: center;
}

.flex-align-center {
    @extend .flex;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.flex-col {
    flex-direction: column;
}
